.avatarBox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}
.topContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-left: 16px;
}
.mx {
    margin-right: 4px;
    margin-left: 4px;
}
.my {
    margin-top: 16px;
    margin-bottom: 16px;
}