.Sheet {
    text-align: center;
    width: 109px;
    padding: 16px;
}
.RadioGroup {
    gap: 12px;
    padding: 8px;
    flex-wrap: wrap;
    flex-direction: row;
}
.content {
    display: flex;
    flex-direction: column;
}
.imgsm {
    width: 90px;
    height: 50px;
}
.imgmd {
    width: 256px;
    height: 142px;
}
.itemName {
    font-weight: 800;
    font-size: 24px;
}
.itemEffect {
    font-weight: 800;
    font-size: 20px;
}
.itemDetail {
    font-weight: 200;
    font-size: 16px;
    padding: 8px;
}
.itemBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 4px;
}