.container {
    background-color: black;
    height: 64px;
    width: 100%;
    min-width: 1080px;
    display: flex;
    justify-content: center;
}
.containerContent {
    max-width: 1080px;
    width: 100%;
    align-items: center;
    display: flex;
}
.buttonBox {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.buttonContent {
    margin: 0px;
    margin-right: 16px;
    color: white;
    text-transform: none;
    font-size: 18px;
}
.searchBox {
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    padding: 4px;
    background-color: white;
}
.input {
    width: 100%;
    margin-left: 16px;
}