.name {
    background-color: red;
}
.topContent {
    background-image: url('../assets/1080.png');
    width: 1080px;
    height: 608px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.searchBox {
    display: flex;
    align-items: center;
    width: 400px;
    height: 50px;
    padding: 4px;
    background-color: white;
}
.input {
    width: 100%;
    margin-left: 24px;
}
.patchBox {
    height: 100%;
    display: flex;
}
.mx {
    margin-right: 4px;
    margin-left: 4px;
}
.my {
    margin-top: 16px;
    margin-bottom: 16px;
}
.avatarBox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop {
    position: absolute;
    top: calc(100% - 270px);
    margin-left: -42px;
    padding: 16px;
    width: 332px;
    background-color: white;
    z-index: 1000000;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 12px 0px
}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}