.name {
    background-color: red;
}
.topContent {
    background-image: url('../assets/1080.png');
    height: 608px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBox {
    display: flex;
    align-items: center;
    width: 400px;
    height: 50px;
    padding: 4px;
    background-color: white;
}
.input {
    width: 100%;
    margin-left: 24px;
}
.patchBox {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}
.mx {
    margin-right: 4px;
    margin-left: 4px;
}
.my {
    margin-top: 16px;
    margin-bottom: 16px;
}
.avatarBox {
    display: flex;
    justify-content: left;
    align-items: center;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}