.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
    padding: 16px;
    background-color: aliceblue;
}
.nicknameBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-bottom: 16px;
    background-color: antiquewhite;
}
.profile {
    background-color: white;
    display: flex;
    
}
.profileContent {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 2px;
}
.notAllowedButton {
    cursor: not-allowed;
}
.tier {
    background-color: white;
}
.avatarTier {
    height: 160px
}
.avatarChar {
    height: 64px;
    width: 64px;
    border: 1px solid black;
}
.smallAvatar {
    width: 22px;
    height: 22px;
    border: 1px solid black;
    font-size: 14px;
    color: black;
    background-color: white;
}
.avatarChar2 {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    margin: 4px;
}
.smallAvatar2 {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    font-size: 12px;
    color: black;
    background-color: white;
}
.traitBox {
    display: flex;
    flex-wrap: wrap;
    width: 140px;
    gap: 4px;
    justify-content: space-between;
    margin-left: 16px;
}
.gameContainer {
    display: flex;
}
.redIcon {
    color: red;
}
.blueIcon {
    color: blue;
}
.blackIcon {
    color: black;
}
.itemBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 138px;
    gap: 6px;
    margin-left: 16px;
}
.itemImg {
    border: 1px solid black;
    width: 40px
}
.nickname {
    font-weight: 800;
    font-size: 24px;
}
.dataBox {
    display:flex;
    flex-direction: column;
    font-weight: 600;
    justify-content: space-evenly;
    margin: 16px;
}
.cellBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
}
.cellItem {
    display: flex;
    height: 33%;
    align-items: center;
    gap: 4px;
}
.more {
    width: 100%;
    margin-top: 8px;
    border: 1px #dbe0e4 solid;
    text-align: center;
}